<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup Profile | InstaBill</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">InstaBill</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_profile' %}">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout_page' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <h2 class="text-center">Edit Bank Details</h2><br>

    <div class="container mt-5">
        <form method="POST">
            {% csrf_token %}
    
            <div class="row mb-3 align-items-center">
                <div class="col-md-4">
                    <label for="name" class="form-label" style="font-size: 15px;">Bank Name:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="name" value="{{bank.name}}" required><br>
                </div>
            </div>
    
    
            <div class="row mb-3 align-items-center">
                <div class="col-md-4">
                    <label for="acno" class="form-label" style="font-size: 15px;">A/C Number:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="acno" value="{{bank.acno}}" required><br>
                </div>
            </div>
    
            <div class="row mb-3 align-items-center">
                <div class="col-md-4">
                    <label for="ifsc" class="form-label" style="font-size: 15px;">IFSC:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="ifsc" value="{{bank.ifsc}}" required><br>
                </div>
            </div>
    
    
            <div class="row mb-3 align-items-center">
                <div class="col-md-4">
                    <label for="branch" class="form-label" style="font-size: 15px;">Branch:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="branch" value="{{bank.branch}}" required><br>
                </div>
            </div>
    
    
            <div class="row mb-3 align-items-center">
                <div class="col-md-4">
                    <label for="bal" class="form-label" style="font-size: 15px;">Opening Balance:</label>
                </div>
                <div class="col-md-6">
                    <input type="number" class="form-control" name="bal" value="{{bank.bal}}" required><br>
                </div>
            </div>
    
            <center>
                <button type="submit" class="btn btn-primary">Update Bank</button>
            </center>
        </form>
    </div>

    <br>

    <footer class="bg-light text-center text-lg-start mt-auto py-3">
        <div class="container">
            <span class="text-muted">&copy; 2024 InstaBill. All rights reserved.</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>

</html>