<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer | InstaBill</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <style>
        .card-img-custom {
            width: 100%;
            height: 200px;
            object-fit: fill;
        }
        body {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">InstaBill</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_profile' %}">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout_page' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <form method="POST">
            <h1 class="text-center">Add New Customer</h1><br>
            {% csrf_token %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                    </li>
                    {% endfor %}
            </ul>
            {% endif %}
    
            <div class="row mb-3 align-items-center">
                <div class="col-md-4">
                    <label for="name" class="form-label" style="font-size: 15px;">Name:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="name" required><br>
                </div>
            </div>
    
            <div class="row mb-3 align-items-center">
                <div class="col-md-4">
                    <label for="gst" class="form-label" style="font-size: 15px;">GSTIN:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="gst" placeholder="Optional"><br>
                </div>
            </div>
    
            <div class="row mb-3 align-items-center">
                <div class="col-md-4">
                    <label for="adrs" class="form-label" style="font-size: 15px;">Address:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="adrs" required><br>
                </div>
            </div>
    
            <div class="row mb-3 align-items-center">
                <div class="col-md-4">
                    <label for="city" class="form-label" style="font-size: 15px;">City:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="city" required><br>
                </div>
            </div>
    
            <div class="row mb-3 align-items-center">
                <div class="col-md-4">
                    <label for="state" class="form-label" style="font-size: 15px;">State:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="state" required><br>
                </div>
            </div>
    
            <div class="row mb-3 align-items-center">
                <div class="col-md-4">
                    <label for="phone" class="form-label" style="font-size: 15px;">Phone:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="phone" required><br>
                </div>
            </div>
    
            <div class="row mb-3 align-items-center">
                <div class="col-md-4">
                    <label for="email" class="form-label" style="font-size: 15px;">Email:</label>
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control" name="email" placeholder="Optional"><br>
                </div>
            </div>
    
            <center>
                <button type="submit" class="btn btn-primary">Add Customer</button>
            </center>
        </form>
    </div>

    <br>


    <footer class="bg-light text-center text-lg-start mt-auto py-3">
        <div class="container">
            <span class="text-muted">&copy; 2024 InstaBill. All rights reserved.</span>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>

</html>