<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Invoice</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.2/html2pdf.bundle.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            font-family: Arial, Helvetica, sans-serif;
        }
        td.no-border-o{
            border-top: none;
            border-right: none;
            border-bottom: none;
            border-left: none;
            text-align: center;

        }
        td.no-border{
            border-top: none;
            border-right: none;
            border-bottom: none;
            text-align: center;

        }
        td.no-border-left{
            border-top: none;
            border-bottom: none;
            text-align: center;
        }
        td.no-border-left-o{
            border-left: none;
            text-align: center;
        }
        td.no-border-right{
            border-right: none;
            text-align: center;
        }
        td.no-border-left-right{
            border-right: none;
            border-left: none;
            text-align: center;
        }
        th, td {
            border: 2px solid black;
            text-align: center;
        }
        td {
            padding-left: 5px;
        }
        .itmes{
            height: 22px;
        }
        .amt{
            height: 25px;
            font-weight: bold;
        }
        .terms{
            height: 100px;
            font-size: 15px;
        }
        .terms_and_condition{
            height: 100px;
            font-size: 10px;
        }
        .bold{
            font-weight: bold;
        }
    </style>
</head>
<body>
        
        <table id="invoice" style="page-break-before: always;">
            <tbody>
                <tr class="bold">
                <td colspan="4" class="no-border-right" style="text-align: left; padding-left:10px;">GSTIN: {{ profile.gst }}</td>
                <td colspan="4" class="no-border-left-right" style="text-align: center;">TAX INVOICE</td>
                <td colspan="4" class="no-border-left-o" style="text-align: right; padding-right:10px">Original for Buyer</td>
            </tr>
            <tr>
                <td colspan="12" height="15" class="no-border-o"></td>
            </tr>
            <tr>
                <td colspan="12"><h2 style="margin: 0px;">{{ profile.name }}</h2>{{ profile.adrs }}<br>{{ profile.city }}, {{ profile.state}}<br>Phone: {{ profile.phone }} E-Mail: {{ profile.email }}</td>
            </tr>
            <tr >
                <td colspan="6" style="text-align:left; font-size: 13px;" >
                    Invoice No: <b>{{invoice.invoice_no}}</b><br>
                    Date of Invoice: <b>{{invoice.date}}</b><br>
                    Place of Supply: {{invoice.invoice_to.state}}<br>
                    E-Way Bill : {{invoice.eway}}
                </td>
                <td colspan="6" style="text-align:left; font-size: 13px;" >
                    P O No.:<br>
                    TRANSPORT: {{ invoice.transport }} <br>
                    VEHICLE NO: <b>{{ invoice.vehicle_no }}</b> <br><br>
                </td>
            </tr>
            <tr >
                <td colspan="6" style="text-align:left; font-size: 13px;" >
                    <i><u>Billed To:</u></i><br>
                    <b>{{ invoice.invoice_to.name }}</b><br>
                    {{ invoice.invoice_to.adrs }}<br>
                    {{ invoice.invoice_to.city }}, {{ invoice.invoice_to.state }}<br>
                    Email :{{ invoice.invoice_to.email }}<br>
                    Phone No. :{{ invoice.invoice_to.phone }}<br>
                    <b>GSTIN :  {{ invoice.invoice_to.gst }}</b>
                </td>
                <td colspan="6" style="text-align:left; font-size: 13px;" >
                    <i><u>Shipped To:</u></i><br>
                    <b>{{ invoice.invoice_to.name }}</b><br>
                    {{ invoice.invoice_to.adrs }}<br>
                    {{ invoice.invoice_to.city }}, {{ invoice.invoice_to.state }}<br>
                    Email :{{ invoice.invoice_to.email }}<br>
                    Phone No. :{{ invoice.invoice_to.phone }}<br>
                    <b>GSTIN :  {{ invoice.invoice_to.gst }}</b>
                </td>
            </tr>
            <tr class="bold">
                <td style="width: 10px;">S.No.</td>
                <td colspan="4">Description of Goods</td>
                <td>HSN</td>
                <td>QTY</td>
                <td>Unit</td>
                <td>RATE</td>
                <td>SGST/<br>IGST</td>
                <td>CGST</td>
                <td>Amount</td>
            </tr>
            
            {% for billed_item in invoice.invoice_items.all %}
            <tr class="items">
                <td class="no-border" style="width: 10px;">{{forloop.counter}}</td>
                <td colspan="4" class="no-border">{{ billed_item.item_details.name }}</td>
                <td class="no-border">{{ billed_item.item_details.hsn }}</td>
                <td class="no-border">{{ billed_item.quantity }} </td>
                <td class="no-border">{{ billed_item.unit }} </td>
                <td class="no-border">{{ billed_item.rate }}</td>
                <td class="no-border">{{ billed_item.sigst}}%</td>
                <td class="no-border">{{ billed_item.cgst}}%</td>
                <td class="no-border-left">{{ billed_item.amount }}</td>
            </tr>
            {% endfor %}
            
        
            {% for i in x %}
            <tr class="items">
            <td class="no-border"><BR></td>
            <td colspan="4" class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border-left"></td>
            </tr>
            {% endfor %}

            

        <tr class="terms">
            <td colspan="7" style="text-align: left;">
                <u><i>BANK DETAILS:</i></u><br>
                <b>BANK: {{profile.bank_name}}<br>
                    A/C No.: {{profile.acno}}<br>
                    IFS CODE: {{profile.bank_ifsc}}<br>
                        BRANCH: {{profile.bank_branch}}</b>
                    </td>
                    
                    <td colspan="5">
                    <table style="border: none;">
                        <tr style="height:15px;">
                            <td style="border-top: none; border-left: none; border-right: none; text-align: left;">Freight/Other Charge</td>
                            <td style="border-top: none; border-left: none; border-right: none; text-align: right;">{{invoice.other_charges}}</td>
                        </tr>
                        <tr style="height:15px;">
                            <td style="border-top: none; border-left: none; border-right: none; text-align: left;">Discount</td>
                            <td style="border-top: none; border-left: none; border-right: none; text-align: right;">{{invoice.discount}}</td>
                        </tr>
                        <tr style="height:15px;">
                            <td style="border-top: none; border-left: none; border-right: none; text-align: left;">Taxble Amount</td>
                            <td style="border-top: none; border-left: none; border-right: none; text-align: right;">{{invoice.taxable_amt}}</td>
                        </tr>
                        
                        <tr style="height:15px;">
                            <td style="border: none; text-align: left;">SGST/IGST PAYABLE</td>
                            <td style="border: none; text-align: right;">{{invoice.sgst_amt}}</td>
                        </tr>
                        <tr style="height:15px;">
                            <td style="border: none; text-align: left;">CGST PAYABLE</td>
                            <td style="border: none; text-align: right;">{{invoice.cgst_amt}}</td>
                        </tr>
                        <tr style="height:15px;">
                            <td style="border: none; text-align: left;">Total GST Amount</td>
                            <td style="border: none; text-align: right;">{{invoice.tgst_amt}}</td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
            <tr class="amt">
                <td colspan="7" style="font-size: 13px;">{{invoice.grand_total_words}}</td><td colspan="5">GRAND TOTAL : {{invoice.grand_total}} </td>
            </tr>
            <tr class = "terms_and_condition">
                <td colspan="7" style="text-align: left;">
                    <u><i>Terms & Conditions</i></u><br>
                    Goods once sold will not be taken back or exchanged.<br>
                    Bills not paid due date will attract 24% interest.<br>
                    All disputes subject to Jurisdication only.<br>
                    Prescribed Sales Tax declaration will be given.<br><br>
                    <br>
                    <div style="text-align: right;">Receiver's Signature</div>
                </td>
                    <td colspan="5"><b>For {{profile.name}}</b><br><br><br><br><br>Authorized Signature</td>
                </tr>
            </tbody>
        </table>



        <!-- ----------------------------------------------------------------------------------------------------------- -->
        <table id="invoice" style="page-break-before: always;">
            <tbody>
                <tr class="bold">
                <td colspan="4" class="no-border-right" style="text-align: left; padding-left:10px;">GSTIN: {{ profile.gst }}</td>
                <td colspan="4" class="no-border-left-right" style="text-align: center;">TAX INVOICE</td>
                <td colspan="4" class="no-border-left-o" style="text-align: right; padding-right:10px">Duplicate for Transporter</td>
            </tr>
            <tr>
                <td colspan="12" height="15" class="no-border-o"></td>
            </tr>
            <tr>
                <td colspan="12"><h2 style="margin: 0px;">{{ profile.name }}</h2>{{ profile.adrs }}<br>{{ profile.city }}, {{ profile.state}}<br>Phone: {{ profile.phone }} E-Mail: {{ profile.email }}</td>
            </tr>
            <tr >
                <td colspan="6" style="text-align:left; font-size: 13px;" >
                    Invoice No: <b>{{invoice.invoice_no}}</b><br>
                    Date of Invoice: <b>{{invoice.date}}</b><br>
                    Place of Supply: {{invoice.invoice_to.state}}<br>
                    E-Way Bill : {{invoice.eway}}
                </td>
                <td colspan="6" style="text-align:left; font-size: 13px;" >
                    P O No.:<br>
                    TRANSPORT: {{ invoice.transport }} <br>
                    VEHICLE NO: <b>{{ invoice.vehicle_no }}</b> <br><br>
                </td>
            </tr>
            <tr >
                <td colspan="6" style="text-align:left; font-size: 13px;" >
                    <i><u>Billed To:</u></i><br>
                    <b>{{ invoice.invoice_to.name }}</b><br>
                    {{ invoice.invoice_to.adrs }}<br>
                    {{ invoice.invoice_to.city }}, {{ invoice.invoice_to.state }}<br>
                    Email :{{ invoice.invoice_to.email }}<br>
                    Phone No. :{{ invoice.invoice_to.phone }}<br>
                    <b>GSTIN :  {{ invoice.invoice_to.gst }}</b>
                </td>
                <td colspan="6" style="text-align:left; font-size: 13px;" >
                    <i><u>Shipped To:</u></i><br>
                    <b>{{ invoice.invoice_to.name }}</b><br>
                    {{ invoice.invoice_to.adrs }}<br>
                    {{ invoice.invoice_to.city }}, {{ invoice.invoice_to.state }}<br>
                    Email :{{ invoice.invoice_to.email }}<br>
                    Phone No. :{{ invoice.invoice_to.phone }}<br>
                    <b>GSTIN :  {{ invoice.invoice_to.gst }}</b>
                </td>
            </tr>
            <tr class="bold">
                <td style="width: 10px;">S.No.</td>
                <td colspan="4">Description of Goods</td>
                <td>HSN</td>
                <td>QTY</td>
                <td>Unit</td>
                <td>RATE</td>
                <td>SGST/<br>IGST</td>
                <td>CGST</td>
                <td>Amount</td>
            </tr>
            
            {% for billed_item in invoice.invoice_items.all %}
            <tr class="items">
                <td class="no-border" style="width: 10px;">{{forloop.counter}}</td>
                <td colspan="4" class="no-border">{{ billed_item.item_details.name }}</td>
                <td class="no-border">{{ billed_item.item_details.hsn }}</td>
                <td class="no-border">{{ billed_item.quantity }} </td>
                <td class="no-border">{{ billed_item.unit }} </td>
                <td class="no-border">{{ billed_item.rate }}</td>
                <td class="no-border">{{ billed_item.sigst}}%</td>
                <td class="no-border">{{ billed_item.cgst}}%</td>
                <td class="no-border-left">{{ billed_item.amount }}</td>
            </tr>
            {% endfor %}
            
        
            {% for i in x %}
            <tr class="items">
            <td class="no-border"><BR></td>
            <td colspan="4" class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border-left"></td>
            </tr>
            {% endfor %}

            

        <tr class="terms">
            <td colspan="7" style="text-align: left;">
                <u><i>BANK DETAILS:</i></u><br>
                <b>BANK: {{profile.bank_name}}<br>
                    A/C No.: {{profile.acno}}<br>
                    IFS CODE: {{profile.bank_ifsc}}<br>
                        BRANCH: {{profile.bank_branch}}</b>
                    </td>
                    
                    <td colspan="5">
                    <table style="border: none;">
                        <tr style="height:15px;">
                            <td style="border-top: none; border-left: none; border-right: none; text-align: left;">Freight/Other Charge</td>
                            <td style="border-top: none; border-left: none; border-right: none; text-align: right;">{{invoice.other_charges}}</td>
                        </tr>
                        <tr style="height:15px;">
                            <td style="border-top: none; border-left: none; border-right: none; text-align: left;">Discount</td>
                            <td style="border-top: none; border-left: none; border-right: none; text-align: right;">{{invoice.discount}}</td>
                        </tr>
                        <tr style="height:15px;">
                            <td style="border-top: none; border-left: none; border-right: none; text-align: left;">Taxble Amount</td>
                            <td style="border-top: none; border-left: none; border-right: none; text-align: right;">{{invoice.taxable_amt}}</td>
                        </tr>
                        
                        <tr style="height:15px;">
                            <td style="border: none; text-align: left;">SGST/IGST PAYABLE</td>
                            <td style="border: none; text-align: right;">{{invoice.sgst_amt}}</td>
                        </tr>
                        <tr style="height:15px;">
                            <td style="border: none; text-align: left;">CGST PAYABLE</td>
                            <td style="border: none; text-align: right;">{{invoice.cgst_amt}}</td>
                        </tr>
                        <tr style="height:15px;">
                            <td style="border: none; text-align: left;">Total GST Amount</td>
                            <td style="border: none; text-align: right;">{{invoice.tgst_amt}}</td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
            <tr class="amt">
                <td colspan="7" style="font-size: 13px;">{{invoice.grand_total_words}}</td><td colspan="5">GRAND TOTAL : {{invoice.grand_total}} </td>
            </tr>
            <tr class = "terms_and_condition">
                <td colspan="7" style="text-align: left;">
                    <u><i>Terms & Conditions</i></u><br>
                    Goods once sold will not be taken back or exchanged.<br>
                    Bills not paid due date will attract 24% interest.<br>
                    All disputes subject to Jurisdication only.<br>
                    Prescribed Sales Tax declaration will be given.<br><br>
                    <br>
                    <div style="text-align: right;">Receiver's Signature</div>
                </td>
                    <td colspan="5"><b>For {{profile.name}}</b><br><br><br><br><br>Authorized Signature</td>
                </tr>
            </tbody>
        </table>

        <!-- ----------------------------------------------------------------------------------------------------------------------------->

        <table id="invoice" style="page-break-before: always;">
            <tbody>
                <tr class="bold">
                <td colspan="4" class="no-border-right" style="text-align: left; padding-left:10px;">GSTIN: {{ profile.gst }}</td>
                <td colspan="4" class="no-border-left-right" style="text-align: center;">TAX INVOICE</td>
                <td colspan="4" class="no-border-left-o" style="text-align: right; padding-right:10px">Triplicate for Assessee</td>
            </tr>
            <tr>
                <td colspan="12" height="15" class="no-border-o"></td>
            </tr>
            <tr>
                <td colspan="12"><h2 style="margin: 0px;">{{ profile.name }}</h2>{{ profile.adrs }}<br>{{ profile.city }}, {{ profile.state}}<br>Phone: {{ profile.phone }} E-Mail: {{ profile.email }}</td>
            </tr>
            <tr >
                <td colspan="6" style="text-align:left; font-size: 13px;" >
                    Invoice No: <b>{{invoice.invoice_no}}</b><br>
                    Date of Invoice: <b>{{invoice.date}}</b><br>
                    Place of Supply: {{invoice.invoice_to.state}}<br>
                    E-Way Bill : {{invoice.eway}}
                </td>
                <td colspan="6" style="text-align:left; font-size: 13px;" >
                    P O No.:<br>
                    TRANSPORT: {{ invoice.transport }} <br>
                    VEHICLE NO: <b>{{ invoice.vehicle_no }}</b> <br><br>
                </td>
            </tr>
            <tr >
                <td colspan="6" style="text-align:left; font-size: 13px;" >
                    <i><u>Billed To:</u></i><br>
                    <b>{{ invoice.invoice_to.name }}</b><br>
                    {{ invoice.invoice_to.adrs }}<br>
                    {{ invoice.invoice_to.city }}, {{ invoice.invoice_to.state }}<br>
                    Email :{{ invoice.invoice_to.email }}<br>
                    Phone No. :{{ invoice.invoice_to.phone }}<br>
                    <b>GSTIN :  {{ invoice.invoice_to.gst }}</b>
                </td>
                <td colspan="6" style="text-align:left; font-size: 13px;" >
                    <i><u>Shipped To:</u></i><br>
                    <b>{{ invoice.invoice_to.name }}</b><br>
                    {{ invoice.invoice_to.adrs }}<br>
                    {{ invoice.invoice_to.city }}, {{ invoice.invoice_to.state }}<br>
                    Email :{{ invoice.invoice_to.email }}<br>
                    Phone No. :{{ invoice.invoice_to.phone }}<br>
                    <b>GSTIN :  {{ invoice.invoice_to.gst }}</b>
                </td>
            </tr>
            <tr class="bold">
                <td style="width: 10px;">S.No.</td>
                <td colspan="4">Description of Goods</td>
                <td>HSN</td>
                <td>QTY</td>
                <td>Unit</td>
                <td>RATE</td>
                <td>SGST/<br>IGST</td>
                <td>CGST</td>
                <td>Amount</td>
            </tr>
            
            {% for billed_item in invoice.invoice_items.all %}
            <tr class="items">
                <td class="no-border" style="width: 10px;">{{forloop.counter}}</td>
                <td colspan="4" class="no-border">{{ billed_item.item_details.name }}</td>
                <td class="no-border">{{ billed_item.item_details.hsn }}</td>
                <td class="no-border">{{ billed_item.quantity }} </td>
                <td class="no-border">{{ billed_item.unit }} </td>
                <td class="no-border">{{ billed_item.rate }}</td>
                <td class="no-border">{{ billed_item.sigst}}%</td>
                <td class="no-border">{{ billed_item.cgst}}%</td>
                <td class="no-border-left">{{ billed_item.amount }}</td>
            </tr>
            {% endfor %}
            
        
            {% for i in x %}
            <tr class="items">
            <td class="no-border"><BR></td>
            <td colspan="4" class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border"></td>
            <td class="no-border-left"></td>
            </tr>
            {% endfor %}

            

        <tr class="terms">
            <td colspan="7" style="text-align: left;">
                <u><i>BANK DETAILS:</i></u><br>
                <b>BANK: {{profile.bank_name}}<br>
                    A/C No.: {{profile.acno}}<br>
                    IFS CODE: {{profile.bank_ifsc}}<br>
                        BRANCH: {{profile.bank_branch}}</b>
                    </td>
                    
                    <td colspan="5">
                    <table style="border: none;">
                        <tr style="height:15px;">
                            <td style="border-top: none; border-left: none; border-right: none; text-align: left;">Freight/Other Charge</td>
                            <td style="border-top: none; border-left: none; border-right: none; text-align: right;">{{invoice.other_charges}}</td>
                        </tr>
                        <tr style="height:15px;">
                            <td style="border-top: none; border-left: none; border-right: none; text-align: left;">Discount</td>
                            <td style="border-top: none; border-left: none; border-right: none; text-align: right;">{{invoice.discount}}</td>
                        </tr>
                        <tr style="height:15px;">
                            <td style="border-top: none; border-left: none; border-right: none; text-align: left;">Taxble Amount</td>
                            <td style="border-top: none; border-left: none; border-right: none; text-align: right;">{{invoice.taxable_amt}}</td>
                        </tr>
                        
                        <tr style="height:15px;">
                            <td style="border: none; text-align: left;">SGST/IGST PAYABLE</td>
                            <td style="border: none; text-align: right;">{{invoice.sgst_amt}}</td>
                        </tr>
                        <tr style="height:15px;">
                            <td style="border: none; text-align: left;">CGST PAYABLE</td>
                            <td style="border: none; text-align: right;">{{invoice.cgst_amt}}</td>
                        </tr>
                        <tr style="height:15px;">
                            <td style="border: none; text-align: left;">Total GST Amount</td>
                            <td style="border: none; text-align: right;">{{invoice.tgst_amt}}</td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
            <tr class="amt">
                <td colspan="7" style="font-size: 13px;">{{invoice.grand_total_words}}</td><td colspan="5">GRAND TOTAL : {{invoice.grand_total}} </td>
            </tr>
            <tr class = "terms_and_condition">
                <td colspan="7" style="text-align: left;">
                    <u><i>Terms & Conditions</i></u><br>
                    Goods once sold will not be taken back or exchanged.<br>
                    Bills not paid due date will attract 24% interest.<br>
                    All disputes subject to Jurisdication only.<br>
                    Prescribed Sales Tax declaration will be given.<br><br>
                    <br>
                    <div style="text-align: right;">Receiver's Signature</div>
                </td>
                    <td colspan="5"><b>For {{profile.name}}</b><br><br><br><br><br>Authorized Signature</td>
                </tr>
            </tbody>
        </table>
    
    
    </body>
    </html>